[submodule "ext/libsodium"]
	path = ext/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/mbedtls"]
	path = ext/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
